<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>About Minjoon</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media = "screen">
        <script src="https://kit.fontawesome.com/734fbd1f66.js" crossorigin="anonymous"></script>
    </head>
<body>
    {% include 'blog/navbar.html' %}
    </br>
    </br>
    <div class="container">
        <div class="row justify-content-md-center">
            <h3><b>EDUCATION</b></h3>
        </div>
        <div class="row justify-content-md center">
            <div class="col col-lg-9">
            <b>The Hong Kong Polytechnic University</b>
            </div>
            <div class="col col-md-auto">
               <p><b>Hong Kong </b>09.2017 - 08.2023</p>
            </div>
        </div>
        <div class="row justify-content-md ceneter">
            <p>&nbsp -	BEng (Hons) in Electrical Engineering</p>
        </div>
        <div class="row justify-content-md center">
            <div class="col col-lg-9">
                <b>Shanghai High School International Division</b>
            </div>
            <div class="col col-md-auto">
               <p><b>Shanghai </b>09.2014 - 09.2017</p>
            </div>
        </div>
        <div class="row justify-content-md center">
            <p>&nbsp -	AP Chinese, Calculus, Chemistry</p>
        </div>
        <div class="row justify-content-md-center">
            <h3><b>SKILLS & CERTIFICATIONS</b></h3>
        </div>
        <div class="row justify-content-md-center">
            <p><b>Language:</b>&nbsp Korean (Native), English (Fluent), Mandarin (Advanced)</p>
        </div>
        <div class="row justify-content-md-center">
            <p><b>Technical:</b>&nbsp C/C++, Python, AWS, Firebase, Matlab, Circuit Analyzing, Microsoft Office</p>
        </div>
        <div class="row justify-content-md-center">
            <p><b>Certifications:</b>&nbsp AWS Certified Cloud Architect Associate, AWS Certified Developer Associate, Microsoft Office Specialist
            </p>
        </div>
        <h3><b>Projects</b></h3>
        <div class="row justify-content-md center">
            <div class="col col-lg-9">
                <b>Cloud-Based Webpage</b>
            </div>
            <div class="col col-md-auto">
               <p><b>Hong Kong </b>09.2022 – 12.2022</p>
            </div>
        </div>
        <div class="row justify-content-md center">
            <ul>
                <li>Pycharm and Cmder are used for developing tools and worked on virtual environment</li>
                <li>Applied CSS, Javascript, and bootstrap5 for configuring a user interface</li>
                <li>Used Docker container to deploy the application</li>
                <li>Used Sqlite3 for the default database and PostgreSQL to handle larger traffic</li>
                <li>Utilized AWS Lightsail and AWS Route 53 to publish on the web</li>
            </ul>
        </div>
        <div class="row justify-content-md center">
            <div class="col col-lg-9">
                <b>Mobile Application</b>
            </div>
            <div class="col col-md-auto">
               <p><b>Hong Kong </b>06.2022 – 07.2022</p>
            </div>
        </div>
        <div class="row justify-content-md center">
            <ul>
                <li>Organized mobile application class using MIT App Inventor for 120 secondary students</li>
                <li>Developed an Android application that can share a photo, leave a comment, and chat in real-time</li>
                <li>Developed mole mash game with scoreboard and data saved in server</li>
                <li>Utilized Google Firebase to implement the backend for the application</li>
            </ul>
        </div>
         <div class="row justify-content-md center">
            <div class="col col-lg-9">
                <b>IoT System Development</b>
            </div>
            <div class="col col-md-auto">
               <p><b>Hong Kong </b>01.2022 – 04.2022</p>
            </div>
        </div>
        <div class="row justify-content-md center">
            <ul>
                <li>Developed Real-Time Temperature and Humidity detector with ESP32</li>
                <li>Utilized MQTT to show the values read from the sensor to the web</li>
                <li>Used NodeRed to display the value with gauge form for a better user interface</li>
                <li>Implemented multi-tasking by utilizing Free-RTOS for detecting temperature and
humidity simultaneously
</li>
            </ul>
        </div>
        <h3><b>Work Experiences</b></h3>
         <div class="row justify-content-md center">
            <div class="col col-lg-9">
                <b>Camel Technology Limited</b>
            </div>
            <div class="col col-md-auto">
               <p><b>Hong Kong </b>06.2022 – 08.2022</p>
            </div>
        </div>
        <div class="row justify-content-md center">
            <ul>
                <li>Contributing as a STEAM course content research and development intern</li>
                <li>Developed fundamental IoT course for 20 students with miniature smart home</li>
                <li>Utilized Microbit
and App inventor for controlling components by application with Bluetooth</li>
                <li>Utilized ultrasonic, flame, light, temperature, and touch sensors to implement automation</li>
            </ul>
    </div>
         <div class="row justify-content-md center">
            <div class="col col-lg-9">
                <b>Military Services</b>
            </div>
            <div class="col col-md-auto">
               <p><b>South Korea </b>11.2019 – 06.2021</p>
            </div>
        </div>
        <div class="row justify-content-md center">
            <ul>
                <li>Discharged successfully as Sergeant, Finance Specialist & HR clerk</li>
                <li>Supervised 80 Korean soldiers as team leader</li>
                <li>Handled financial documents and managed the human resources of 300 soldiers</li>
                <li>Responsible for communication and translation between the U.S and Korean army</li>
            </ul>
        </div>
        <h3><b>Extracurricular Activities</b></h3>
        <div class="row justify-content-md center">
            <div class="col col-lg-9">
                <b>Volunteer Activity</b>
            </div>
            <div class="col col-md-auto">
               <p><b>Hong Kong </b>01.2019 – 08.2019</p>
            </div>
        </div>
        <div class="row justify-content-md center">
            <ul>
                <li>Volunteered to help students from special schools to overcome learning hurdles</li>
                <li>Contributed as team leader and developed the STEM courses for students</li>
                <li>Developed remote-controllable robot car with LEGO and Arduino</li>
                <li>Arranged a Racing competition among the students with a robot car</li>
            </ul>
        </div>
        <div class="row justify-content-md center">
            <div class="col col-lg-9">
                <b>Business Idea Competition</b>
            </div>
            <div class="col col-md-auto">
               <p><b>South Korea </b>09.2020 – 11.2020</p>
            </div>
        </div>
        <div class="row justify-content-md center">
            <ul>
                <li>Contributed as team leader and raised the idea</li>
                <li>Developed a Business plan for developing a common access card system for the Korean military</li>
                <li>Tried to solve the problem of the inconvenient reporting system and improve the security</li>
            </ul>
        </div>
    </div>
 <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
</body>
</html>